@model List<Clase3.Entidades.Seleccion>
@{
}
<h1>Selecciones Clasificadas al Mundial Ordenadas Alfabeticamente</h1>
<div>
    @foreach (var seleccion in Model)
    {
        <div>
            <span style="font-weight:bold">
                @($"{seleccion.Pais} ({seleccion.Continente}) ({seleccion.Confederacion})")
            </span>
        </div>
    }
</div>

