@model List<Clase3.Entidades.Seleccion>
@{
}
<h1>Todas las Selecciones Clasificadas</h1>

<div>

    @foreach (var seleccion in Model)
    {
        <div>
            <span style="@(seleccion.Clasificada ? "font-weight:bold" : "")">
                @($"{seleccion.Pais} ({seleccion.Continente}) ({seleccion.Federacion})")
            </span>
        </div>
    }

    <br />
    <a href="/selecciones/clasificadasAlf"><h4>Todas las Selecciones Clasificadas Alfabeticamente</h4></a>

</div>