@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex">
    <div class="w-50">
        <div>
            <a class="btn btn-info mb-3" href="/selecciones/todas">Todas las Selecciones</a>
        </div>
        <div>
            <a class="btn btn-info mb-3" href="/selecciones/clasificadas">Todas las Selecciones Clasificadas al mundial</a>
        </div>
        <div>
            <a class="btn btn-info mb-3" href="/selecciones/clasificadosAlfabeticamente">Todas las Selecciones Clasificadas al mundial ordenadas Alfabeticamente</a>
        </div>
        <div>
            <a class="btn btn-info mb-3" href="/selecciones/agregar">Agregar seleccion</a>
        </div>
    </div>

    <div class="w-50">
        <img src="https://i.pinimg.com/originals/22/31/91/223191cf3fe42f8a76a0d276eee7af5d.jpg" />
    </div>

</div>

<style>

</style>

