<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin - @ViewBag.Title</title>
</head>
<body>
    <div>
        @await RenderSectionAsync("Top", required: false)
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
