@model Clase5.Web.Models.PhoneNumber
<a aria-label="Chatear en WhatsApp" class="btn btn-success text-light" target="_blank"
    href="https://wa.me/@Model.CodigoPais@Model.CodigoArea@Model.Numero">
    <span class="text-light">
        Iniciar Chat
    </span>
    <img alt="Chat on WhatsApp" height="50px" width="50px"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" />
</a>